<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Nice Locations</title>
</head>

<body>
<h1>nice-locations</h1>
<ul>
    {{#each locations}}
    <li>{{this}}</li>
    {{/each}}
</ul>
</body>

</html>